<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/media/web-images/favicon.png"/>
    <link rel='shortcut icon' type='image/x-icon' href="/media/web-images/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Starsona, celebrity">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/media/css/style.min.css">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{ url }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">

    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="{{ image }}">

    {% include "home/apps.html" with request='profile' arg='profile_id' %}
</head>
<body>
    <canvas id="world"></canvas>
    <div id="wrapper">
        <p style="display:none;">{{ description }}</p>
        <div id="welcome">
            <div id="warp2">
                <img id="heartbeat5" src="/media/web-images/star.png" style="width:40px !important; height:40px !important;">
                <h2 id="intro" style="color:#c38d7c;"><img id="heartbeat5" src="/media/web-images/starsona.png"></h2>
                <p id="smallp2"><span style="color:#ffffff; font-weight:500; font-size: 1em;">Get your personalized video from your favorite celebrity</span>
                </p>
                <div id="help">
                    <h3 style="margin-top:50px;"><a id="share3" target="_blank" href="https://itunes.apple.com/us/app/starsona/id1294478616?ls=1&mt=8"><img src="/media/web-images/ios.png"></a>
                    <a id="share3" target="_blank" href="https://play.google.com/store/apps/details?id=com.starsona.app"><img src="/media/web-images/android.png"></a></h3>
                </div>
            </div>
        </div>
    </div>
<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/index.min.js"></script>
<script type="text/javascript">
    var height = $(window).height();
    document.getElementsByTagName("body")[0].style.height = height+"px";
    document.getElementById("wrapper").style.height = height+"px";

    if( /Android/i.test(navigator.userAgent) ) {
        setTimeout(function(){
            window.location = 'https://play.google.com/store/apps/details?id=com.starsona.app&hl=en';
        }, 5000);

        window.location = android_package+'://profile/?profile_id='+'{{ id }}';
    }

    if (/iPad|iPhone|iPod/i.test(navigator.userAgent) && !window.MSStream) {
        setTimeout(function(){
            window.location = 'https://itunes.apple.com/app/id1294478616';
        }, 2000);
        window.location = ios_package+'://profile/?profile_id='+'{{ id }}';
    }
</script>
</body>
</html>