<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" type="image/png" href="/media/web-images/favicon.png"/>
    <link rel='shortcut icon' type='image/x-icon' href="/media/web-images/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Starsona">
    <meta name="keywords" content="Starsona, celebrity">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="theme-color" content="#ffffff">
    <link href="https://vjs.zencdn.net/6.4.0/video-js.css" rel="stylesheet">

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:video" content="{{ video }}" />
    <meta property="og:description" content="{{ page_desc }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_desc }}">
    <meta name="twitter:image" content="{{ image }}">

    <meta itemprop="name" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_desc }}">
    <meta itemprop="image" content="{{ image }}">
<style>
    .redirect_label {
       text-align: center;
       margin-top: 20%;
    }
</style>

</head>

<body>
<div class="redirect_label">
    <img src="/media/web-images/star.png" height="32" style="margin:5px">
    <h2>Redirecting to Starsona video</h2>
</div>
<script type="text/javascript">
    <!--setTimeout(function(){-->
            <!--window.location = '{{redirect_url}}';-->
        <!--}, 500);-->
</script>
</body>
</html>
