Pillow==5.4.1
PyJWT==1.7.1
amqp==2.4.0
billiard==3.5.0.5
boto3==1.9.84
botocore==1.12.84
# boto3==1.4.6
# botocore==1.6.3
celery==4.2.1
celery[sqs]==4.2.1
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
django-cors-headers==2.4.0
django==2.1.5
djangorestframework==3.9.1
docutils==0.14
fcm-django==0.2.21
gunicorn==19.9.0
hashids==1.2.0
idna==2.6
imageio==2.4.1
jmespath==0.9.3
kombu==4.2.2.post1
moviepy==0.2.3.5
numpy==1.16.0
olefile==0.46
pep8==1.7.1
psycopg2-binary==2.7.7
pycodestyle==2.4.0
pycurl==7.43.0.2
pylibmc==1.6.0
pysocks==1.6.8
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.9
requests==2.21.0
s3transfer==0.1.13
six==1.11.0
# stripe==2.19.0 code changes needed to work with 2.x version
stripe==1.75.0
tqdm==4.29.1
twilio==6.23.1
urllib3==1.24.1
vine==1.2.0
oauthlib==3.0.1
requests-oauthlib==1.2.0
django-nose==1.4.6
nose==1.3.7