<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Get your personlised video</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Starsona">
    <meta name="keywords" content="Starsona, celebrity">
    <link rel="stylesheet" href="/media/css/style.min.css">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="https://Starsona.com/">
    <meta property="og:title" content="Starsona">
    <meta property="og:description" content="Get your personlised video from your favorite celebrity">
    <meta property="og:image" content="/media/web-images/star.png" />
</head>
<body>
    <div id="wrapper">
        <div id="welcome">
            <div id="warp2">
                <img id="heartbeat5" src="/media/web-images/star.png" style="width:40px !important; height:40px !important;">
                <h1 style="color:#c38d7c;">404</h1>
                <p id="smallp2">
                </p>
            </div>
        </div>
    </div>
</body>
</html>
