{% include "emails/header.html" %}
<h1 style="text-align: center;font-family: sans-serif;"> How did we do?</h1>
<br/>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
{{ fan_name }}, Do you have a moment? We'd love to know how everything worked out. Please take a moment to share your reactions with {{celebrity_name}} and with us.
</p>

<div style="width: 100%; display: inline-block;">
    <img class="imgborder" align="left" src="{{video_thumb}}" alt="{{booking_title}}" width="100%">
    <p align="left">&nbsp;&nbsp;&nbsp;<b>{{booking_title}}</b></p><br/>
    <a href="{{app_url}}" style="margin-left: 20px;" class="button-app">Add Reactions</a>
</div>

<br/><br/>
{% include "emails/footer.html" %}
