{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi Admin,</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
{{ user_name }} has requested to add a new group {{ group_name }}. Details below.
</p>
<p>
    {% if group_name %}Group  : {{ group_name }} <br/>{% endif %}
    {% if group_type %}Group type  : {{ group_type }} <br/>{% endif %}
</p>
<p>
Thanks, <br/>
The Starsona Team
</p>
{% include "emails/footer.html" %}