{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{ celebrity_name }},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    You have a pending Starsona request <strong>{{ booking_title }}</strong> from {{ fan_name }}.<br><br><li> Request will expire on {{expiring_date}}.</li> You can respond to that request with the following button.
</p>
<p style="text-align:center">
    &nbsp;<a href="{{app_url}}" class="button-app">Respond</a>
</p>

<p>
Thanks, <br/>
The Starsona Team
</p>
{% include "emails/footer.html" %}
