{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi, {{celebrity_name}}</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
I think you’d be a wonderful addition to the group {{ account_name }}, and I hope you’ll consider joining us.<br><p style="text-align:center">
    <a href="{{redirect_link}}" class="button">Join The Group</a></p><br><br><a href="{{redirect_link}}">Click Here</a> to redirect to starsona settings<br><br>
</p>
{% include "emails/footer.html" %}
