{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{ name }},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
Your payouts for this month has failed, as you haven't configured the payout settings. Configure your Stripe Account or choose bank check from your app settings to get paid<br/><br/>
<b>Number of Bookings: {{ pay_count }}</b><br/>
<b>Amount owed: ${{ amount }}</b><br/><br/>

Thanks,<br/>Starsona Team
</p>
{% include "emails/footer.html" %}