{% include "emails/header.html" %}

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
Hi, {{representative_name}}<br/><br/>
    I just wanted to email you personally to say welcome to Starsona.  {{celebrity_name}} has added you as a representative. Please verify this email by clicking <a href="{{verify_link}}">HERE</a><br/><br/>
The Starsona app can be found on:<br/>

</p>
<p style="text-align: center;">
<a href="{{web_url}}"><img src="{{base_url}}media/web-images/starsona_logo.png" style="width: 250px;margin: 20px 0;"></a>
</p>
<p style="text-align: center;">
<a href="https://itunes.apple.com/us/app/starsona/id1294478616?ls=1&mt=8" ><img src="{{base_url}}media/web-images/ios-store.jpg"></a>
<a href="https://play.google.com/store/apps/details?id=com.starsona.app"><img src="{{base_url}}media/web-images/android-store.jpg"></a>
</p>
<p>
If you have any questions about Starsona there's an <a href="https://starsona.com/faq">FAQ</a> posted on our website.  Or you can just reach out to me and my team.  We're here for you.<br/>
Again, welcome!<br/>
<br/>
Peter
</p>
{% include "emails/footer.html" %}