{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{ celebrity_name }},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
    You have a new booking request from {{ fan_name }} for a {{ occasion }} shout-out. Please see request details below
</p>
<p>
    {% if date %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Request date</span> {{ date }}<br/>
    </p>
    {% endif %}
    {% if occasion %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Occasion</span> {{ occasion }}<br/>
    </p>
    {% endif %}
    {% if to_name %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">To</span> {{ to_name }}<br/>
    </p>
    {% endif %}
    {% if from_name %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">From</span> {{ from_name }}{% if relationship %}({{ relationship }}){% endif %}<br/>
    </p>
    {% endif %}
    {% if important_info %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Details</span> {{ important_info }}<br/>
    </p>
    {% endif %}
</p>
<p style="text-align:center;margin:50px;">
    &nbsp;<a href="{{app_url}}" class="button-app">View booking</a>
</p>
<p>
Thanks, <br/>
The Starsona Team
</p>
{% include "emails/footer.html" %}
