{% include "emails/header.html" %}
<p>Hi {{username}},</p>
<p style="margin-bottom:0">We request you to set a new password to your Starsona account. You will be logged out {{message}}</p>
<p style="margin-top:0">You can set your password <a href="{{reset_link}}">here</a>. Your new password must:</p>
<ul>
    <li>Contain 8-36 characters</li>
    <li>Contains at least one upper/lower case letter</li>
    <li>Contain at least one number</li>
</ul>
<p>Note that this link will expire in 24 hours.</p>
<p style="margin-bottom:0">Thanks,</p>
<p style="margin-top:0">The Starsona Team</p>
{% include "emails/footer.html" %}