{% include "emails/header.html" %}
<p>Hey {{username}},</p>
<p>We’ve got good news, bad news, and then more good news.</p>
<p>Good news! You’ve successfully signed up for Starsona.<br>
Bad news: Your profile is not yet active because you have not set a password.<br>
Good news! You can make your profile active by <a href="reset_link" style="color:#ff1919;">clicking here</a> and setting a password. It’s easy! <br>And then you can finally start making videos for your fans.</p>
<p>Questions? <a href="mailto:{{mail}}?Subject={{subject}}" target="_top" style="color:#ff1919;">click here.</a> and ask us.</p>
<p>Best way to get more booking requests? Tell your fans about Starsona on your social media. </p>
<p style="margin-bottom:0">Thanks! </p>
<p style="margin-top:0">The Starsona Team</p>
{% include "emails/footer.html" %}