{% include "emails/header.html" %}
<p>Hey {{username}},</p>
<p>Us again! ...from Starsona. The app where you make videos for your fans? And get paid for it? That’s the one. Hello! </p>
<p>Anyway, it’s been about 14 days since you signed up, and our automated computer robot is making us send you an email reminding you to complete the sign up process.
    It’s not hard, we promise. <strong>You just need to <a href="{{reset_link}}" style="color:#ff1919;">click here</a> and update your password from the one that our robot picked for you.</strong>
    By doing that, your profile will be complete and active. Then you can start making videos. Yeehaw.</p>
<p>Unfortunately, if you don’t update your password by tonight, our robot will think you don’t exist and delete your account 😕</p>
<p>Need help, <a href="mailto:{{mail}}?Subject={{subject}}" target="_top" style="color:#ff1919;">click here.</a></p>
<p style="margin-bottom:0">k thx bye, </p>
<p style="margin-top:0">The Starsona Team</p>
{% include "emails/footer.html" %}