{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi {{ fan_name }},</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
Your transaction for the booking {{booking_title}} has completed successfully. Details below.
</p>
<p>
    {% if date %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Transaction date</span> {{ date }}<br/>
    </p>
    {% endif %}
    {% if occasion %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Occasion</span> {{ occasion }}<br/>
    </p>
    {% endif %}
    {% if celebrity_name %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Celebrity</span> {{ celebrity_name }}<br/>
    </p>
    {% endif %}
    {% if amount %}
    <p style="font-family: sans-serif;margin-bottom: 0;margin-top: 8px;font-size:12px;">
        <span style="min-width:120px;display: inline-block;font-weight:bold;">Amount</span> ${{ amount }}<br/>
    </p>
    {% endif %}
</p>
<p style="text-align:center;margin:50px auto;">
    &nbsp;<a href="{{app_url}}" class="button-app">View booking</a>
</p>
<p>
Thanks, <br/>
The Starsona Team
</p>
{% include "emails/footer.html" %}
