{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
{{celebrity_name}} has added the video for the booking, please verify the video and complete the booking status.
</p>
    <p style="text-align:center">
        <a href="{{base_url}}admin/stargramz/stargramrequest/{{id}}/change/" class="button">View booking</a>
    </p>
{% include "emails/footer.html" %}