{% include "emails/header.html" %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Make celebrations unforgettable with Starsona.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
Connect to your favorite stars to celebrate everyday moments. Search for your favorite athletes, actors, musicians, YouTubers, writers, and more to book and request a personalized video shout-out from them.  Share with your friends and family to make occasions even more memorable.
<br/><br/>
What's next?<br/><br/>
1 Book<br/>
Select a star and request a personalized shout-out<br/>
<br/>
2 Receive<br/>
Starsona will notify you when a star completes the request<br/>
<br/>
3 Share<br/>
Forward your shout-out via SMS, email, or social media<br/>
</p>
<p style="text-align:center">
    <a href="{{web_url}}" class="button-app">Start exploring</a>
</p><br/><br/>
{% include "emails/footer.html" %}
